<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>娱乐🎮</title>
    <style>
        * {
            margin: 0;
        }

        body {
            height: 100vh;
        }

        #btnGrounds {
            position: absolute;
            top: 10px;
            left: 10px;

            display: flex;
            z-index: 999;

        }

        button {
            height: 40px;
            font-size: 24px;
            margin-right: 20px;
        }

        iframe {
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body>
    <div id="btnGrounds">
        <button data-url="./game.html">游戏</button>
        <button data-url="./_2d.html">追番</button>
        <button data-url="./song.html">唱歌</button>
    </div>
    <iframe src="" id="myIframe"></iframe>

</body>

</html>
<script>

    btnGrounds.addEventListener('click', ({ target }) => {
        const url = target.dataset.url
        if (!url) return
        myIframe.src = url
    })

</script>