<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图片碎片🖼️</title>
    <style>
        .container {
            position: absolute;
            left: 50%;
            top: 50%;
            translate: -50% -50%;
        }
    </style>
</head>

<body>
    <div class="container"></div>
</body>

</html>
<script type="module">
    import { PicPieceAnim } from '../utils/anim/picPieceAnim.js'

    // 如果是网络图，初渲染会有问题？
    // 图片过大会很卡，不要超过500kb
    let url = './images/demo.jpeg'


    // 创建PicPieceAnim实例对象
    // 参数1：组件容器选择器
    // 参数2：图片初始url
    const ppa = new PicPieceAnim('.container', url)

    // 调用碎片合并动画方法
    // 参数1：图片分裂行数
    // 参数2：图片分裂列数
    // 参数3：动画配置对象
    //          - from：keyframes动画的from样式
    //          - to：keyframes动画的to样式
    //          - other：底层配置


    // 分类块数过多会卡
    ppa.merge(50, 50, {
        from: { scale: 0 },
        to: { 'background-color': 'transparent', rotate: '720deg' },
        other: { pmo: true, loop: false, step: 10, time: 200 }
    })
</script>