<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>银河🌌</title>
    <style>
        html {
            overflow: hidden;
        }

        .container {
            position: absolute;
            left: 50%;
            top: 50%;
            translate: -50% -50%;
        }
    </style>
</head>

<body>
    <div class="container"></div>
</body>

</html>
<script type="module">
    import { createFullMilkyWay } from "../utils/anim/animAbout.js"
    createFullMilkyWay()

</script>